#submitted {
    visibility: hidden;
}

#clock {
    float: center;
    font-size: 35px;
}

#jumbo {
    position: relative;
}


#giphy {
    visibility: hidden;
    position: absolute;
    float: right;
}

input[type="radio"] {
    transform: scale(1.4);
}